<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Data Science Tools and Ecosystem</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p>Data Science Tools and Ecosystem are summarized.<p>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>


<ol>
 <li>JavaScript.</li>
    <li>Scala.</li>
    <li>C/C++.</li>
    <li>SQL.</li>
    <li>Java.</li>
    <li>Julia.</li>
    <li>Python.</li>
    <li>R.</li>
   
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>


<ol>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>NuPIC.</li>
    <li>Ramp.</li>
    <li>Pipenv.</li>
    <li>Bob.</li>
    <li>PyBrain.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>
    <li>BeautifulSoup.</li>
    <li>LightGBM.</li>
    <li>ELI5.</li>
    <li>Theano.</li>
    <li>Caffe2.</li>
    <li>Chainer.</li>
     <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

In [21]:
# Arithmetic operations
code = compile("2 + 7", "<string>", "eval")
eval(code)
# Result: 9

9

In [22]:
code1 = compile("(6+ 7) * 1", "<string>", "eval")
eval(code1)
# Result: 13

13

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

This a simple arithmetic expression to mutiply then add integers

In [23]:
(4*4)+2
# Result: 18

18

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

In [24]:
D = 0
H = 0
M = 0
T = 200
leftover_minutes = T % 1440
H = leftover_minutes / 60
print(str(D) + " days, " + str(H) + " hours, " + str(M) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<p>Put a new markdown cell with the objectives addressed in this notebook (i.e., some of the most important lessons learned from the course) beneath the introduction cell that was made in Exercise 3. Start this new cell with an introduction that reads, "Objectives:" in bold type. Next, specify three to five topics addressed in this notebook using an unordered list (bullets), such as List popular languages for Data Science.</p>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2> Malak Albalawi